.about-content {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet-width) {
    max-width: 498px;
    margin-bottom: 20px;
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    gap: 50px;
  }
}

.about-content__text {
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 26px;
    gap: 40px;
  }
}

.about-content__text h3 {
  font-size: 18px;
  line-height: 22px;
  color: $bg-dark;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    font-size: 32px;
    line-height: 36px;
  }
}

.about-content__text p {
  margin: 0;
}

.about-content__button {
  align-self: flex-start;

  @media (min-width: $tablet-width) {
    &::before,
    &::after {
      right: 4px;
    }
  }
}
