.faq-item {
  border: 2px solid $bg-dark;
  border-radius: 14px;
  background-color: $bg-light;
  color: $bg-dark;

  @media (min-width: $tablet-width) {
    border-radius: 16px;
  }
}

.faq-item__label {
  font-size: 16px;
  line-height: 18px;
  position: relative;
  padding: 20px 15px;
  display: block;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 18px;
    background-color: $text-light;
    right: 34px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 18px;
    height: 1px;
    background-color: $text-light;
    right: 26px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    padding: 30px;
    font-size: 22px;
    line-height: 26px;

    &::before {
      top: 32px;
      right: 49px;
      transform: translateX(-50%) translateY(50%);
    }

    &::after {
      top: 50px;
      right: 41px;
      transform: translateY(-50%);
    }
  }

  @media (min-width: $desktop-width) {
    padding: 40px;
    font-size: 28px;
    line-height: 34px;

    &::before {
      top: 42px;
      right: 59px;
    }

    &::after {
      top: 60px;
      right: 51px;
    }
  }
}

.faq-item__label-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 29px;

  &::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-color: $bg-dark;
    border: 1px solid transparent;
    border-radius: 50%;
    flex-shrink: 0;
  }

  @media (min-width: $tablet-width) {
    gap: 70px;

    &::after {
      align-self: start;
    }
  }
}

.faq-item__input {
  display: none;
}

.faq-item__text {
  flex-direction: column;
  gap: 10px;
  display: none;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.faq-item__text p {
  margin: 0;
}

.faq-item.accordion-item--active .faq-item__text {
  display: flex;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 30px;
    margin-top: -10px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 40px;
    margin-top: -20px;
  }
}

.faq-item.accordion-item--active {
  background-color: $bg-dark;
  color: $text-light;
}

.faq-item.accordion-item--active .faq-item__label-text {
  &::after {
    background-color: $text-light;
  }
}

.faq-item.accordion-item--active .faq-item__label {
  &::after {
    background-color: $bg-dark;
  }
}

.faq-item:hover {
  background-color: $text-light;
}

.faq-item:focus {
  outline: none;
  background-color: $text-light;
}

.faq-item:hover .faq-item__label,
.faq-item:focus .faq-item__label {
  &::before {
    background-color: $bg-dark;
  }

  &::after {
    background-color: $bg-dark;
  }
}

.faq-item:hover .faq-item__label-text,
.faq-item:focus .faq-item__label-text {
  &::after {
    background-color: $text-light;
    border-color: $bg-dark;
  }
}

.faq-item:active {
  color: $active;
}

.faq-item:active .faq-item__label-text {
  &::after {
    border-color: transparent;
    background-color: $active;
  }
}

.faq-item:active .faq-item__label {
  &::before {
    background-color: $text-light;
  }

  &::after {
    background-color: $text-light;
  }
}

.faq-item.accordion-item--active:hover {
  border-color: $text-light;
  background-color: $bg-dark;
}

.faq-item.accordion-item--active:hover .faq-item__label {
  &::after {
    background-color: $text-light;
  }
}

.faq-item.accordion-item--active:focus {
  outline: none;
  border-color: $text-light;
  background-color: $bg-dark;
}

.faq-item.accordion-item--active:focus .faq-item__label {
  &::after {
    background-color: $text-light;
  }
}

.faq-item.accordion-item--active:hover .faq-item__label-text,
.faq-item.accordion-item--active:focus .faq-item__label-text {
  &::after {
    border-color: $text-light;
    background-color: $bg-dark;
  }
}

.faq-item.accordion-item--active:active {
  border-color: $active;
  background-color: $active;
  color: $text-light;
}

.faq-item.accordion-item--active:active .faq-item__label {
  &::after {
    background-color: $active;
  }
}

.faq-item.accordion-item--active:active .faq-item__label-text {
  &::after {
    border-color: $text-light;
    background-color: $text-light;
  }
}

