.feedback-modal {
  z-index: 50;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.feedback-modal__container {
  position: relative;
  width: 290px;
  background-color: $text-light;
  border-radius: 16px;
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-height: calc(100vh - 40px);
  overflow: auto;

  @media (min-width: $tablet-width) {
    width: 510px;
    padding: 60px 80px;
    gap: 30px;
  }
}

.feedback-modal__close-button {
  width: 38px;
  height: 38px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  background-color: $text-light;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid $text-light;

  &::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    mask-image: url("../__spritemap#sprite-menu-close-view");
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $bg-dark;
  }

  &:hover,
  &:focus {
    border-color: $bg-dark;
  }

  &:active {
    background-color: $bg-dark;

    &::after {
      background-color: $text-light;
    }
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    right: 20px;
    top: 20px;

    &::after {
      width: 18px;
      height: 18px;
    }
  }
}

.feedback-modal__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  width: 220px;

  @media (min-width: $tablet-width) {
    width: 350px;
  }
}

.feedback-modal__title {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: $bg-dark;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }
}

.feedback-modal__description {
  margin: 0;
}

.feedback-modal.feedback-modal--opened {
  display: block;
}

.feedback-modal__form {
  gap: 15px;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }
}

.feedback-modal__form .form-item__input {
  border-color: rgba(72, 72, 72, 0.3);
  height: 44px;
  color: $text-dark;

  @media (min-width: $tablet-width) {
    height: 50px;
  }

  &:hover {
    border-color: $text-dark;
  }
}

.feedback-modal__form .form-item__label {
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 8px;
}

.feedback-modal__form .select__list {
  border-color: $text-dark;
}

.feedback-modal__form .select__button {
  border-color: rgba(72, 72, 72, 0.3);
  color: $text-dark;

  &::after {
    background-color: $text-dark;
  }

  &:hover {
    border-color: $text-dark;
  }
}

.feedback-modal__form .select-wrapper__hidden-item {
  height: 44px;

  @media (min-width: $tablet-width) {
    height: 50px;
  }
}

.feedback-modal__form .select__button:focus {
  border-color: $text-dark;
}

.feedback-modal__form .feedback-form__button {
  margin-top: 10px;
  align-self: center;

  @media (min-width: $tablet-width) {
    width: 194px;
  }
}
