.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.feedback-form__button {
  margin-bottom: 12px;
  width: 260px;
  align-self: flex-start;

  @media (min-width: $tablet-width) {
    width: 352px;
    margin-top: 20px;
    margin-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
