.hero__swiper-controls {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  width: 320px;
  transition: 100ms;
  height: 28px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.hero__swiper-controls--hidden {
  height: 0;
}

.hero__swiper-pagination-wrapper {
  opacity: 1;
  display: inline-flex;
  align-items: center;
  height: 100%;
  background-color: $text-light;
  border-radius: 12px 12px 0 0;
  vertical-align: middle;
  margin-left: 15px;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at 100% 100%, rgba(204, 0, 0, 0) 11px, $text-light 12px);
    position: absolute;
    transform: scale(1, -1);
    right: -12px;
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    border-radius: 20px 20px 0 0;
    margin-left: 45px;

    &::after {
      width: 23px;
      height: 23px;
      background-image: radial-gradient(circle at 100% 100%, rgba(204, 0, 0, 0) 22px, #ffffff 23px);
      right: -22px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 100px;

    &::after {
      width: 20px;
      height: 20px;
      background-image: radial-gradient(circle at 100% 100%, rgba(204, 0, 0, 0) 19px, $text-light 20px);
      right: -19px;
    }
  }
}

.hero__swiper-pagination {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  padding: 0 12px;

  @media (min-width: $tablet-width) {
    padding: 0 16px;
  }
}

.hero__swiper-pagination.swiper-pagination {
  position: static;
}
