.page-header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  margin: 0 auto;
  width: 320px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 30px 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 30px 100px;
  }
}

.page-header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header.menu-opened {
  z-index: 6;
}

.page-header.menu-opened .navigation__button {
  width: 290px;
  background-color: $bg-dark;
  color: $text-light;
  transition: 300ms;

  &::before {
    background-color: $text-light;
  }

  &::after {
    mask-image: url("../__spritemap#sprite-menu-close-view");
    mask-size: 20px 20px;
    background-color: $bg-dark;
  }
}

.page-header.menu-opened .menu {
  overflow: scroll;
  width: 290px;
  padding: 0 25px;

  max-height: calc(100vh - 100px);
  height: 100%;
}

