// Vendor
// ---------------------------------

@import "vendor/normalize";
@import "common/fonts";
@import "common/variables";
@import "common/global";
@import "blocks/main";
@import "blocks/container";
@import "blocks/button";
@import "blocks/button-small";
@import "blocks/title";
@import "blocks/bullet-pagination";
@import "blocks/swiper-scrollbar";
@import "blocks/swiper-navigation";
@import "blocks/number-pagination";
@import "blocks/text-link-dark";
@import "blocks/page-header";
@import "blocks/logo";
@import "blocks/navigation";
@import "blocks/menu";
@import "blocks/submenu";
@import "blocks/hero";
@import "blocks/hero-swiper-slide";
@import "blocks/hero-swiper-text";
@import "blocks/about";
@import "blocks/about-promo";
@import "blocks/about-content";
@import "blocks/about-scheme";
@import "blocks/form-item";
@import "blocks/form-agreement";
@import "blocks/select-wrapper";
@import "blocks/select";
@import "blocks/programs";
@import "blocks/programs-swiper-slide";
@import "blocks/programs-swiper-content";
@import "blocks/grant";
@import "blocks/grant-info";
@import "blocks/grant-scheme";
@import "blocks/news";
@import "blocks/news-swiper";
@import "blocks/news-swiper-slide";
@import "blocks/news-swiper-content";
@import "blocks/news-tab";
@import "blocks/news-nav";
@import "blocks/faq";
@import "blocks/faq-list";
@import "blocks/faq-item";
@import "blocks/reviews";
@import "blocks/review";
@import "blocks/reviews-swiper";
@import "blocks/reviews-swiper-slide";
@import "blocks/contacts";
@import "blocks/contacts-list";
@import "blocks/form";
@import "blocks/feedback-modal";
@import "blocks/feedback-form";
@import "blocks/page-footer";
@import "blocks/social";
@import "blocks/footer-nav";

